/* .App{
  background-color:#273746;
  height: 37em;
  width: 79.2em;
  border-radius: 5px;
} */
.ref-component{
  line-height: 1.0;
}
h1{
  color: #cd5c5c;
  text-align: center;
  margin-top: 20px;
}

p{
  color: #2f4f4f;
  font-size: 1.2em;
  text-align: center;
}

input[type="text"]{
  width: 300px;
  padding: 10px;
  margin: 10px auto;
  display: inline;
  border-radius: 5px;
  border: 1px solid #cd5c5c;
  outline: none;
  
}

button{
  background-color: #cd5c5c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

label{
  color: #cd5c5c;
  font-size: 1.2em;
  display: block;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.cards{
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

#item{
  height: 15.2rem;
  width: 15.2rem;
  background-color: #eee8aa;
  /* column-gap: 2rem; */
  gap: 6rem;
}

#time{
  background-color: #2e8b57;
  color: white;
  font-size: 1.2em;
  display: block;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  border-radius: 2rem;
}

