.sidebar{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    height: 100vh;
    width: 17rem;
    text-align: center;
    background-color: #4682b4;
    color: whitesmoke;
    align-items: center;
}

.sidebar button{
    height: 2rem;
    width: 7rem;
    font-weight: bold;
}

.sidebar button:hover{
    background-color: #708090;
    color: white;
    cursor: pointer;
}

.sidebar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2rem;
}

.sidebar ul li{
    background-color: #3cb371;
}